#c_footer_p1, #c_footer_p2{
    margin: 0px;
    color: rgba(255,255,255,.5);
}
#c_footer_p2{
    font-weight: bold;
}
h2{
    margin: 0px;
}

html{
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 70px; /* Margin bottom by footer height */
  }

.custom_footer{
    /*border-top-style: double;*/
    background-color: #343a40;
    padding: 10px 2px;

    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
}